#List-Hub{
    


    background-color: #0b0e11;
    position: relative;
    height: 82vh;
    width: 50vw;
    padding-top: 10px;
    border-radius: 12px;
    position: relative;left: 27%;
    top: -20vh;

}