#List-Hub{
    


    background-color: #0b0e11;
    position: relative;
    height: 82vh;
    width: 55vw;
    padding-top: 10px;
    border-radius: 12px;
    position: absolute;left: 24%;
    top: 11%;
    

}