#List-Hub{
    background-color: #242c37;
    position: relative;
    height: 82vh;
    width: 55vw;
    padding-top: 10px;
    border-radius: 12px;
    position: absolute;left: 25%;
    top: 11%;
    overflow-y: scroll;
}
#List-Hub::-webkit-scrollbar {
    width: 10px;
    color:#fff;
} 