.Main-Wrapper img{
    width: 7.5%;
    position: relative;
    left:7%;
}
#bot-search{
    position: absolute;
    top: 3%;
    left: 40%;
    border: none;
    background-color: #493197;
    padding-left: 1%;
    width: 22.3vw;
    height: 5.0vh;
    border-radius: 12px;
    color: #fff;
}
#bot-search::placeholder{
    color: #fff;
    font-weight: 800;
    position: relative;
    left: 35%;
}

.Main-Wrapper h1{
    position: relative;
    left: 5.5%;
    font-size: 1.6vw;
    font-weight: 700;
    top: -28px;
    color: #fff;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;

}

#connections{
    width: 12vw;
    height: 65vh;
    left: 5%;
    border-radius: 12px;
    top: 28%;
    position: absolute;
    overflow-x:hidden;
    overflow-y: auto;
 
    padding-left: 1%;
    background-color: #242c37;
}
#connections::-webkit-scrollbar {
    background-color: rgb(80, 79, 79);
    width: 2px;
    position: relative;
    left: -20px;
    height: 50px;
    
  }
#connection-header{
    width: 100%;
    background-color: #1a2029;
    position: relative;
    left: -5%;
    border-radius: 12px;
    text-align: center;
    padding-bottom: 3%;
    color:#fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.connection-listing{
    background-color: #1a2029;
    width: 90%;
    border-radius: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.connection-listing h3{
    position: relative;
    color: #fff;
    left: 26%;
    top:15px;
}
.dot{
    background-color: #fd4d4d;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    top: -21px;
    left: 10%;
    position: relative;
    animation: view 5s linear infinite;
}


@keyframes view {
    100% {
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    25%{
        opacity: 0.25;
    }
    10%{
        opacity: 0.1;
    }
}  

#add-connections{
    background:none;
    border: none;
    color: #724fe6;
    position: relative;
    top: 3px;
    font-weight: 700;
    font-size: 1.2em;
    
}
#add-connections:hover{
opacity: .5;
}
#snap-shot h2{
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#snap-shot{
    background-color: #1a2029;
    position:absolute;
    width: 15%;
    height: 20%;
    border-radius: 12px;
    left: 82%;
    top: 11%;
    padding: 1%;
}